.CollectionPreview {
    // padding: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    .CollectionTitle {
        // padding-left: 30px;
        margin-bottom: 25px;
        cursor: pointer;
    }
    
    .CollectionItems {
       display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;

    & .CollectionItem {
      margin-bottom: 10px;
    }
    }
}